# Jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
.bundle/
vendor

# Drafts, not ready for publishing
_posts/drafts/*

# Mac OS
.DS_Store
**/.DS_Store

# IntelliJ
.idea/**/workspace.xml
.idea/**/modules.xml
.idea/**/tasks.xml
.idea/**/jarRepositories.xml
.idea/**/compiler.xml
.idea/**/aws.xml
.idea/**/usage.statistics.xml
.idea/codeStyles/
.idea/**/libraries/
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

*.iws
*.iml
*.ipr

out/

