# Jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# Drafts, not ready for publishing
_posts/drafts/*

# Mac OS
.DS_Store
**/.DS_Store

# IntelliJ IDEA
/.idea/workspace.xml
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/codeStyles/
.idea/aws.xml
.idea/uiDesigner.xml
*.iws
*.iml
*.ipr